<section class="card">
    <div class="col-mb-4 post">
        <h2><a href="api/comments/{{comment.id}}"></a></h2>
    </div>
    <div class="col-mb-4">
        <p>
        {{comment.content}}
        </p>
        <p>-- Created by {{comment.user.username}} on {{format_date comment.created_at}}</p>
    </div>
</section>