<section class="card">
    <div class="col-mb-4 post">
        <h2><a href="api/comments/{{id}}"></a></h2>
    </div>
    <div class="col-mb-4">
        <p>
        {{content}}
        </p>
        <p>-- Created by {{user.username}} on {{format_date created_at}}</p>
    </div>
</section>