<div class="col mb-3 post">
    <div class="post">
        <h2>Create New Post</h2>
    </div>
    <form class="form post-form">
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-input" type="text" id="title" />
        </div>
        <div class="form-group">
            <label for="comment">Content:</label>
            <textarea name="post" id="content" class="form-group form-textarea bg-white" rows="4"></textarea>
        </div>
        <div class="flex-column justtify-content-center">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>
<script src="../js/submitPost.js"></script>